*~
target
.DS_Store
.faces-config.xml.faceside
.faces-config.xml.jsfdia
.tern-project
bin
.openshift
*/.gitignore
.gitkeep
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.checkstyle
.classpath
.project
.settings
.metadata
.factorypath
bin
.nbattrs
*.log
.clover
*.swp
